* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.snakeGame {
    width: 70vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(222, 171, 255);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgb(255, 255, 255);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 80vw;
    height: 10vh;
}

.btns button {
    padding: 10px;
    font-size: 1.2em;
}

.boardGame {
    width: 100%;
    height: 80vh;
    background-color: rgb(114, 63, 148);
    position: relative;
}

.snake,
.snakeBody {
    width: 13px;
    height: 13px;
    background-color: rgb(249, 238, 255);
    box-shadow: 0.1px 0.1px 3px white;
    position: absolute;
    top: 200px;
    left: 200px;
    border-radius: 5px;
}



.fruit {
    width: 9px;
    height: 9px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    top: 50px;
    left: 400px;
    border-radius: 8px;
}

.popup {
    width: 100vw;
    height: 100vh;
    margin: auto;
    position: fixed;
    background-color: #00000023;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.popupWrap {
    width: 300px;
    height: 200px;
    background-color: rgb(194, 255, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 3px 3px 3px rgb(79, 79, 79);
    border-radius: 15px;
}

.popupContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.popupContent h1 {
    font-size: 2em;
    color: red;
    text-shadow: 1px 1px 4px rgb(68, 68, 68);
}

.popupContent p {
    font-size: 1.1em;
    font-weight: 600;
}

.newGame,
.back {
    cursor: pointer;
    padding: 5px;
    font-weight: 600;
    background-color: rgb(133, 255, 208);
    border: 1px solid #000;
    border-radius: 7px;
    transition: all 0.2s ease-in-out;
}

.newGame:hover,
.back:hover {
    background-color: rgb(60, 255, 180);
    color: white;
    border: 2px solid white;
}

.back a:hover {
    background-color: rgb(60, 255, 180);
    color: white;
}

.back a {
    text-decoration: none;
    color: black;
    transition: all 0.2s ease-in-out;
}